header.page-header{
    background: no-repeat left/cover url(../img/logo.PNG);
    display: flex;
    height: 120px;
    min-width: 120px;
    align-items: center;
    color: #fff;
    text-shadow: #000 0 0 .2em;
}

header.page-header > h1 {
    font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', cursive,
        fantasy;
    margin: 2%;
}

main {
    font: 1rem 'Fira Sans', sans-serif;
}


body {
    color:black;
    background-color:rgb(140, 141, 223); 
    background-image:url(images/image_de_fond.png);
    background-repeat:no-repeat;
    }

    h1{
        text-align: center;
	font-size: 4em;

    }
    img { 
        width:120px; 
        height:100px; 
    } 
/*FOOTER*/
    /* footer {
        font-size: 11px Arial, sans-serif; 
        line-height: 14px; position: relative; width: 900px; height: 80px;
        background-image: url(images/piedpage.png) no-repeat center; 
    } */

    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

    * {
      font-family: Open Sans;
    }
    
    section {
      width: 100%;
      display: inline-block;
      background: #333;
      height: 10vh;
      text-align: center;
      font-size: 22px;
      font-weight: 700;
      text-decoration: underline;
    }
    
    .footer-distributed{
        background: #666;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: bold 16px sans-serif;
        padding: 55px 50px;
    }
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: inline-block;
        vertical-align: top;
    }
    
    /* Footer left */
    
    .footer-distributed .footer-left{
        width: 40%;
    }
    
    /* The company logo */
    
    .footer-distributed h3{
        color:  #ffffff;
        font: normal 36px 'Open Sans', cursive;
        margin: 0;
    }
    
    .footer-distributed h3 span{
        color:  lightseagreen;
    }
    
    /* Footer links */
    
    .footer-distributed .footer-links{
        color:  #ffffff;
        margin: 20px 0 12px;
        padding: 0;
    }
    
    .footer-distributed .footer-links a{
        display:inline-block;
        line-height: 1.8;
      font-weight:400;
        text-decoration: none;
        color:  inherit;
    }
    
    .footer-distributed .footer-company-name{
        color:  #222;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    
    /* Footer Center */
    
    .footer-distributed .footer-center{
        width: 35%;
    }
    
    .footer-distributed .footer-center i{
        background-color:  #33383b;
        color: #ffffff;
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
    }
    
    .footer-distributed .footer-center i.fa-envelope{
        font-size: 17px;
        line-height: 38px;
    }
    
    .footer-distributed .footer-center p{
        display: inline-block;
        color: #ffffff;
      font-weight:400;
        vertical-align: middle;
        margin:0;
    }
    
    .footer-distributed .footer-center p span{
        display:block;
        font-weight: normal;
        font-size:14px;
        line-height:2;
    }
    
    .footer-distributed .footer-center p a{
        color:  lightseagreen;
        text-decoration: none;;
    }
    
    .footer-distributed .footer-links a:before {
      content: "|";
      font-weight:300;
      font-size: 20px;
      left: 0;
      color: #fff;
      display: inline-block;
      padding-right: 5px;
    }
    
    .footer-distributed .footer-links .link-1:before {
      content: none;
    }
    
    /* Footer Right */
    
    .footer-distributed .footer-right{
        width: 20%;
        height:10%;
    }
    
    .footer-distributed .footer-company-about{
        line-height: 20px;
        color:  #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }
    
    .footer-distributed .footer-company-about span{
        display: block;
        color:  #ffffff;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .footer-distributed .footer-icons{
        margin-top: 25px;
    }
    
    .footer-distributed .footer-icons a{
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color:  #33383b;
        border-radius: 2px;
    
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
    
        margin-right: 3px;
        margin-bottom: 5px;
    }
    
    /* If you don't want the footer to be responsive, remove these media queries */
    
    @media (max-width: 880px) {
    
        .footer-distributed{
            font: bold 14px sans-serif;
        }
    
        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right{
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }
    
        .footer-distributed .footer-center i{
            margin-left: 0;
            height:10%;
               }
    }
    .footer-left{
        height:10%;
    }
    
/*video*/
/* video{
    width: 100px;
} */
track{
    color: #fff;
    background-color:#000;
}

/*Via hack*/
/* html {
	font-size: 62.5%;
} */
* {
	box-sizing: border-box;
}
body {
	font-size: 1.5em;
}
h1 {
	text-align: center;
	font-size: 4em;
}

h3{
	color: black;
	padding-top: 1%;
}
/* table {
	margin-top: 2%;
} */

#basic-setup{
	background-color: #fff;
	color: #fff;
	font-family: "Source Sans Pro", sans-serif;
}
header{
    width:75%;
}
.page-header {
	background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../img/logo.PNG);
	height: 1000vh;
	background-size: cover;
	background-position: center;
    width:100%;

}
/* main{
    width:95%;
} */

.main-title{
	text-transform: uppercase;
	font-weight: 700;
}
.contenu{
	padding-top: 27%;
}

.btn{
	border-radius: 0;
	border: 1px solid white;
	padding: 15px 35px;
}

.bg-light {
	background-color: #141414 !important;
}

nav{
    background-color: rgb(96, 146, 211);
}
.navbar-light .navbar-nav .nav-link:link,
.navbar-light .navbar-nav .nav-link:visited{
	color: white;
	text-transform: uppercase;
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.5%;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active{
	border-bottom: 2px solid #20cc41;
}

.nav-item{
	font-size: 18px;
	padding-left: 25px;
    color:rgb(10, 9, 9);
    with: 25px;
}
.navbar-brand{
    /* font-size: 18px;  */
	padding-left: 25px;
    
}


.text{
	padding: 1%;
	color: black;
}

.carousel-inner{
 width: 100%;
 heigth: 100px;
}


table {
	margin-top: 2%;
}

.black{
	background-color: black;
	border: 1px solid transparent;
}

.white {
	background-color: white;
	border: 1px solid black;
	color: black;
}

/****règlement****/

p{
	color: black;
}

.regtitre1,.regtitre2 {
	text-align: center;
	color: black;
}

.regpar{
	font-size: 16px;
	line-height: 24px;
	text-align: left;
	margin: 0px;
	opacity: 1;
}

.regspan{
	font-size: 16px;
}

p{
	
	color: black;
}

.regh5{
	font-size: 18px; 
	line-height: 23px; 
	text-align: left; 
	margin: 0px; 
	opacity: 1;
}
.regh4{
	font-size: 21px; 
	line-height: 27px;
	text-align: left; 
	margin: 0px; 
	opacity: 1;
}

ul li {
	color: black;
}

/*****brief***/

.brfhead{
    text-align: justify;
	color: black;
}
.brftext{
	text-align:justify;
	color: black;
	margin: 5px; 
	opacity: 1;
}

#thbrief{
	width: 511px;
	text-align: center;
	margin: 5px ;
}

/*****équipes*****/

/**** font-weight ****/
/*
Mutator Sans is created by LettError (https://github.com/LettError/mutatorSans)
and is used here under the terms of its license:
https://github.com/LettError/mutatorSans/blob/master/LICENSE
*/

@font-face {
    src: url('https://mdn.mozillademos.org/files/16011/MutatorSans.ttf');
    font-family:'MutatorSans';
    font-style: normal;
  }

  label {
    font: 1rem monospace;
    white-space: nowrap;
  }
  .container {
    max-height: 150px;
    overflow-y: auto;
    background-color: rgb(0, 183, 255);
  }
  .object {
    /* text-transform: uppercase; */
    width:50%;
    font: 1.5rem 'MutatorSans', sans-serif;
    color: rgb(182, 25, 25);
  }
  .sample {
    /* text-transform: uppercase; */
    font: 1.5rem 'MutatorSans', sans-serif;
    color: black;
  }